.navbar-default
{
  background-color:#000000;
  color:navy;
  font-size: 20px;


}
body
{
  background-color:#6c83b9;
  font-size:15px;
}
 .navbar-nav
 {
   margin-bottom: 0px;
   border-color: gray;
 }

 .carousel, .carousel .item{
   max-height: 400px;
   overflow: hidden;
 }

.navbar-default
{
  border-color:#6c83b9;
}
.navbar
{
    border-radius: 0px;
    margin-bottom: 0px;
    border: 0px;
}


h2
{
color:black;
}

h6
{
text-align: center;
padding: 20px;
color: white;
font-size: 30px;
}

.navbar-default .navbar-nav > li > a
{
  color: skyblue;
}

.iconimg
{
text-align: center;
margin: 15px;
border-radius: 30px;
}

#cool_icons
{
width: 100%;
margin: auto;
text-align: center;
background-color: black;
}

#topcontainer
{
  background-color: black;
}
#misson
{
  text-align: center;
}
