.navbar-default
{
  background-color:#000000;
  color:navy;
  font-size: 20px;


}
body
{
  background-color:#6c83b9;
  font-size:15px;
}
 .navbar-nav
 {
   margin-bottom: 0px;
   border-color: gray;
 }

 .carousel, .carousel .item{
   max-height: 650px;
   overflow: hidden;
 }

.navbar-default
{
  border-color:#6c83b9;
}
.navbar
{
    border-radius: 0px;
    margin-bottom: 0px;
    border: 0px;
}

h1
{
  background-color:#000000;
  margin:0px;
  text-align:center;
}

.navbar-default .navbar-nav > li > a
{
  color: skyblue;
}
