<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li role="presentation"class="active"><a herf="#"></a></li>
    <li role="presentation"><a href="#">text</a></li>
    <li role="presentation"><a href="#"> text</a></li>
    <li role="presentation"><a href="#"> text</a></li>
  </ul>
  <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</nav>
  {{content}}
  {% for program in site.programs %}
    {{ program.title }}
  {% endfor %}
</body>
</html>
