<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <ul class="nav navbar-nav">
    <li role="presentation"class="active"><a herf="#"></a></li>
    <li role="presentation"><a href="#">text</a></li>
    <li role="presentation"><a href="#"> text</a></li>
    <li role="presentation"><a href="#"> text</a></li>
  </ul>
  <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</nav>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/images/Chess-king.JPG" alt="Chess">
        <div class="carousel-caption">
          <h3>Mission Statement</h3>
        </div>
      </div>
      <div class="item">
        <img src="studentsraisinghands.jpg" alt="Students">
        <div class="carousel-caption">
          <h3>Mission Statement</h3>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
  {{content}}
  {% for program in site.programs %}
    {{ program.title }}
  {% endfor %}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="js/bootstrap.min.js"></script>

</body>
</html>
